.md-content {
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}s

a:active {
  text-decoration: underline;
  text-decoration-style: dotted;
}
}  

.md-banner {
  height: 380px;
  background-image: url('../assets/images/bandeau_obermodern.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover;
}
.md-nav--primary {
    font-size: .75rem;
    line-height: 1.5;
    padding-top: .6rem;
    padding-bottom: .6rem;
}
